<%-include('./includes/headder.ejs')%>
</head>
  <body>
  <%- include('./includes/nav.ejs')%>
  <h1>the product name> <%=product.title%></h1>
  <h2>the price====== ><%=product.price%></h2>
  <h2>description==== ><%=product.description%></h2>
  <h2>the Product ID= ><%=product.id%></h2>
<div class="container">
  <form action="/delete-product" method ="POST">
  <input type='hidden' name="id" value="<%=product.id%>">
  <button type="submit">delete</button>
  </form>
  <a href="/edit_product/<%=product.id%>"><h2>update me</h2></a>
</div>
 <%- include('./includes/footer.ejs')%>
  
